.listaJuegos {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Estilo para cada juego */
.Juegos {
    width: 300px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilo para la imagen del juego */
.Juegos .imagen {
    width: 200px;
    height: 290px;
    object-fit: cover;
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilo para los títulos de los juegos */
.Juegos .titulo {
    margin-top: 0;
}

/* Estilo para las descripciones de los juegos */
.Juegos .descripcion {
    margin-bottom: 5px;
}

/* Estilo para los precios de los juegos */
.Juegos .precio {
    margin-bottom: 5px;
}

/* Estilo para los enlaces */
a {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: underline;
}

.Juegos .boton-agregar {
    display: inline-block;
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.Juegos .boton-agregar:hover {
    background-color: #45a049;
}

/* CSS de el Login */
.formu{
    width: 250px;
    margin: 0 auto;
}

.formu #titulo{
    color: red;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
}

.welcome {
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 10px;
}

.edit-form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
select {
    margin-bottom: 10px;
    width: 200px;
}

input[type="submit"] {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

img {
    margin-top: 20px;
}

.body {
    font-family: Arial, sans-serif;
}

.heading {
    text-align: center;
    margin-top: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table-header,
.table-cell {
    padding: 10px;
    text-align: left;
}

.table-header {
    background-color: #f2f2f2;
}

.table-row:nth-child(even) {
    background-color: #f9f9f9;
}

.table-footer {
    font-weight: bold;
}

.centered-text {
    text-align: center;
    margin-top: 20px;
}

.button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
    margin-right: 10px;
    float: right;
}

.button.add {
    background-color: #2196F3;
    width: 20px;
    height: 20px;
}

.button.remove {
    background-color: #FF5722;
    width: 20px;
    height: 20px;
}

.button.delete {
    background-color: #F44336;
}

.product-image {
    width: 100px;
    height: auto;
}