/* Estilisa el Body de todos los paneles de Administracion */
body {
  background-attachment: fixed;
  margin: 0;
  background-size: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)),
    url(../fondos/fondoadmin.jpg);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
/* Inicio: Estiliza el Nav */
.navbar {
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 30px;
  border: 2px solid rgb(255, 0, 0);
  width: 800px;
  margin: 15px auto;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navbar li {
  margin-right: 20px;
}

.navbar li a {
  text-decoration: none;
  color: rgb(255, 0, 0);
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.navbar li a:hover {
  background-color: gray;
  color: yellow;
}

/* Fin: Estiliza el Nav */

/* Inicio: Estilos Formularios */
.contenedor {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: rgba(242, 242, 242, 0.671);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  color: black;
  border: 2px solid black;
  border-radius: 30px;
}

.titulo {
  text-align: center;
  color: #333333;
}

form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333333;
}

input,select {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #cccccc;
  border-radius: 3px;
}

input[type="submit"] { /* Estiliza los botones de Envio */
  background-color: #333333;
  color: #ffffff;
  cursor: pointer;
}

.formulario-input {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #cccccc;
  border-radius: 3px;
}
/* Fin: Estilos Formularios */

.titulo-registrados {
  color: #333333;
  text-align: center;
}
#buscador {
  width: 600px;
  margin: 0 auto;
  text-align: center; /* Añade esta propiedad para centrar el contenido */
}

#titulo-buscar {
  font-size: 20px !important;
  font-weight: 600;
  font-style: italic;
  color: black;
}

#buscar{
  width: 300px;
  margin: 10px auto;
  font-size: 15px;
  margin-bottom: 20px;
  border-radius: 20px;
  padding: 10px;
}
/* Inicio Estilos para la Tabla de Revisar Pedidos */
/* Ajusta la tabla principal */

.contenedor-tabla{
    max-width: 1300px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.863);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    color: black;
    border: 5px solid rgb(255, 0, 0);
    border-radius: 30px;
}

.tabla-principal {
  width: 100%;
  border-collapse: collapse;
}
.tabla-principal th{
  font-size: 18px;
  font-weight: 600px;
  font-style: italic;
  border-bottom: 3px solid red !important;
  
  
}
.tabla-principal th,.tabla-principal td {
  padding: 8px;
  text-align: left;
  font-weight: 600;
  border-bottom: 1px solid #ff0000 !important;
}
/* Ajusta el mensaje en caso de no existir pedidos */
p.no-pedidos {
  text-align: center;
  margin-top: 20px;
}

/* Separa los Formularios dentro de Panel Jefe */
.formularios {
  margin-bottom: 10px;
}
/* Estilisa los label dentro del Panel Jefe */
.formularios-label { 
  display: block;
  margin-bottom: 5px;
  color: #333333;
  font-size: 20px;
  font-weight: 600;
}

/* Estila los botones de envio */
.boton-envio {
  background-color: #333333;
  color: #ffffff;
  cursor: pointer;
}

.game-image {
  display: block;
  margin: 20px auto;
  width: 300px;
}

#imagen_juego {
  border: 3px solid black;
}

table.tabla-principal {
  width: 100%;
  border-collapse: collapse;
}

table.tabla-principal th,
table.tabla-principal td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #cccccc;
}

.cambio-estado {
  width: 150px;
  font-size: 14px;
  text-align: center;
  border: 1px solid red;
  border-radius: 10px;
  padding: 10px;
}

.boton-eliminar {
  background-color: #dc3545;
  color: #fff;
  padding: 15px 20px;
  cursor: pointer;
}

.boton-eliminar:hover {
  background-color: #c82333;
}

/* Final Estilos para la Tabla de Revisar Pedidos */

/* Estilisa la imagen del juego del panel trabajador */
#imagen-preview {
  margin: 0 auto;
  border: 1px solid black;
  width: 500px;
}
#pishiLogo {
  width: 120px;
  position: absolute;
  left: 0;
  top: 10px;
}

#pishiLogo:hover {
  width: 160px;
  transition: 1.5s;
}

#pishiLogo:not(:hover){
  width: 120px;
  transition: 1.5s;
}

#roles {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 600;
}

.rango{
  color: yellow !important;
  position: absolute;
  top: 2%;
  right: 0;
  padding: 15px;
  border: 3px solid red;
  border-radius: 30px;
}

.rango span{
  color: red;
  font-weight: 600;
  font-style: italic;
}

.button-eliminar{
  padding: 4px;  
  border-radius: 10px;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  background-color: #dc3545 ;
  color: white;
}


/* Botones PanelJefe */

.btn-panelJefe{
  padding: 6px 12px;
  width: 140px;
  background-color: green;
  color: yellow;
  font-size: 16px
}

.input-panelJefe{
  width: 130px;
  font-size: 16px
}